.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px 0;
  }

  .logo-title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: bolder;
    color: #e8465a;
    letter-spacing: 2px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }

  .option {
    padding: 10px 15px;
    transition: 300ms ease all;

    &:hover {
      color: red;
      border-bottom: 1px solid rgba(255, 0, 0, 0.267);
    }
  }
}
